*{
    margin: 0;
    padding: 0;
}
.clear::after{
    content: "";
    clear: both;
    display: block;
}
header{
    background: #131310;
}
.logo{
    float: left;
    display: inline-block;
}
header a{
    color: #fff;
}
.h-menu{

}
header nav ul{
    display: inline-block;
    margin-left: 350px;
    margin-top: 25px;
}
header nav ul li{
    display: inline-block;
    margin-left: 10px;
}
header nav ul li a{
    text-decoration: none;
}

.banners{
    background-image: url("https://i.postimg.cc/yWPC534K/ia-200000019.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    padding: 20px 0;
    color: #fff;
}
.banner h1{
    margin-top: 120px;
    display: inline-block;
    margin-bottom: 30px;
}
.banner a{
    color: #fff;
    text-decoration: none;
    background: #c69453;
    width: 150px;
    height: 45px;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
}
.video{
    width: 50%;
    float: left;
}
.about{
    width: 50%;
    float: right;    
}
.about h3 span{
    color: #c69453;
}
.about p{
    margin-top: 40px;
}
.about details{
    margin-top: 50px;
    margin-bottom: 20px;
}
.btn{
    background: #000;
    color: #fff;
}